<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="css/style.css" />
    <link  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
</head>
<body>
    <header>
        
        <section>
        <img src="images/logo-mercado-liebre.svg" width="250px" alt="">
    </section>
    <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Buscar productos, marcas">
        
        <p><i class="fas fa-hand-holding-usd"></i>Compre en cuotas y sin tarjeta de credito</p>
      
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul> 
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </nav>
    <img id="banner" src="images/img-home-banner.jpg" width= "400px" alt="Foto banner">
    </header>

    
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <div class="Productos">
            <div>
            <img src="images/img-cafetera-moulinex.jpg" width="200px" alt="Cafetera Moulinex">
            </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$6.770</b></p>
            <p id="Descuento">40% OFF</p>
            <p id="Descripcion">Cafetera Moulinex</p>
            </div>

            <div class="Productos">

            <div>
                <img src="images/img-macbook-pro-2019.jpg" width= "200px" alt="Imagen Mac">
            </div>    
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$230.000</b></p>
            <p id="Descuento">20% OFF</p>
            <p id="Descripcion">MacBook Pro 2019</p>
            </div>

            <div class="Productos">
                <div>
                    <img src="images/img-samsung-galaxy-s10.jpg" width="200px" alt="">
                </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$70.500</b></p>
            <p id="Descuento">10% off</p> 
            <p id="Descripcion">Samsung Galaxy S10</p> 
            </div>

            <div class="Productos">
                <div class="imgProducto">
                    <img src="images/img-tv-samsung-smart.jpg" width="200px"alt=""> <!--imagen del SmartTv-->
                </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$23.200</b></p>
            <p id="Descuento">5% off</p>
            <p id="Descripcion">SmartTv Samsung 43"</p>
            </div>
        </section>


        <section>

            
            <h3>Seccion de Ofertas</h3>
            <div class="Productos">
                <div>
                    <img class="images/img-cafetera-moulinex.jpg" width="200px" alt="Cafetera Moulinex">
                </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$6.770</b></p>
            <p id="Descuento">40% off</p>
            <p id="Descripcion">Cafetera Moulinex</p>
            </div>

            <div class="Productos">
                <div>
                    <img src="images/img-macbook-pro-2019.jpg" width="200px"alt="">
                </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$230.000</b></p>
            <p id="Descuento">20% off</p>
            <p id="Descripcion">MacBook Pro 2019</p>
            </div>

            

            <div class="Productos">
                <div>
                    <img src="images/img-tv-samsung-smart.jpg" width="200px"alt=""> 
                </div>
            <i class="fa-solid fa-truck"></i>
            <p id="Precio"><b>$23.200<b></p>
            <p id="Descuento">5% off</p>
            <p id="Descripcion">SmartTv Samgsung 43</p>
            </div>
        </section>


    </main>
    <footer>
        <section id="pagos">
       
            <i class="fa-solid fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

            <h3> <i class="fa-solid fa-truck-fast"></i>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

            <h3><i class="fa-solid fa-shield-halved"></i>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            </section>
            
    </footer>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>
</html>